* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: rgb(245, 245, 245);
}
.header {
  display: flex;
  justify-content: start;
  list-style-type: none;
}
.logo {
  width: 100px;
  height: auto;
  margin: 20px;
}
main > h1 {
  text-align: center;
}
nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
}
nav > ul li {
  margin: 0 20px;
  background-color: tomato;
  border-radius: 10px;
}
nav > ul li > a {
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  display: block;
}
.banner-senai {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}
.video-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}
.video-container > iframe {
  width: 100%;
  border-radius: 10px;
}
.conteudo-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}
.conteudo-flex > main > p {
  padding: 5px;
}
.conteudo-flex main {
  flex: 1 1 50%;
  max-width: 900px;
  gap: 20px;
}
.conteudo-flex .video-container {
  flex: 1 1 40%;
}
.sidebar-logo {
  display: block;
  margin: 32px auto 32px auto;
  width: 220px;
  max-width: 100%;
  border-radius: 10px;
}
.carrosel {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 20px;
  width: 100%;
  height: 300px;
  justify-content: center;
}
.carrosel img {
  border-radius: 10px;
}
.video-sidebar {
  border-left: 4px solid rgb(0, 0, 0);
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.container-cursos > {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 200px;
}
.cursos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 70px; /* aumente o valor conforme desejar */
  padding: 50px;
}
.curso-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}
.curso-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
.curso-info {
  flex: 1;
}
.curso-info h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}
